// screen reader only ( 눈에는 보이지 않으나 스크린리더가 읽어줌 )
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

// mobile
.sm-only {
  @media all and (min-width: $md-breakpoint) {
    display: none !important;
  }
}

// Tablet
.md-only {
  @media all and (max-width: $md-breakpoint - 1) {
    display: none !important;
  }

  @media all and (min-width: $lg-breakpoint) {
    display: none !important;
  }
}

// DeskTop
.lg-only {
  @media all and (max-width: $lg-breakpoint - 1) {
    display: none !important;
  }
}

.sm-hidden {
  @media all and (max-width: $md-breakpoint - 1) {
    display: none !important;
  }
}

.md-hidden {
  @media all and (min-width: $md-breakpoint) {
    display: none !important;
  }

  @media all and (max-width: $lg-breakpoint - 1) {
    display: none !important;
  }
}

.lg-hidden {
  @media all and (min-width: $lg-breakpoint) {
    display: none !important;
  }
}
